<div class="container">
<div class="row">
    <div class="col-sm-4 my-auto">
            <%= image_tag(@product.image_url) %>
                <br>
            <h2> <%= @product.name %> </h2>
            <h4> Model: <%=@product.model%> </h4>
    </div>

    <div class="col-sm-8 my-auto">
            <h2>All Listings:</h2>
                <% @product.active_listings.each do |listing| %>
                <%= link_to "Condition: #{listing.condition} - Color: #{listing.color} - Storage: #{listing.storage} - Memory: #{listing.memory} - Price: $#{number_with_precision(listing.price, precision: 2)} - Seller: #{listing.user.first_name}(#{listing.user.approval_rating})", listing_path(listing)%> <br>
            <% end %>
    </div>
</div>

<br><br><br><br>

<div class="row">
    <div class="col my-auto">
        <% if logged_in? %>
            <%= render partial: 'reviews/form' %>
        <% end %>
    </div>
</div>

<br><br><br><br>

<div class="row">
    <div class="col my-auto">
        <h2>Reviews (<%= @product.reviews.size %>) </h2>

        <% @product.reviews.each do |review| %>
            <h5> <%= review.user.first_name %> <%= review.display_timestamp %> </h5>
            <%= review.content %>
                <br><br>
        <% end %>
    </div>
</div>
</div>
</div>

