<h1> <%="#{@product.name} - Info Page" %> </h1>
<h3> Model: <%=@product.model%> </h3>

<h2>Reviews (<%= @product.reviews.size %>) </h2>

<% @product.reviews.each do |review| %>
    <%= review.user.first_name %>
        <br>
    <%= review.created_at %>
        <br>
    <%= review.content %>
        <br><br>
<% end %>

<%= render partial: 'reviews/form' %>

<h2>All Listings:</h2>
<% @product.listings.each do |listing| %>
    <%= link_to "#{listing.condition} - #{listing.color} - #{listing.storage} - #{listing.memory}", listing_path(listing)%> <br>
<% end %>