<!DOCTYPE html>
<html>
  <head>
    <title>Applexchangeapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <%= link_to "AppleXchange", home_path %>

    <% if !logged_in? %>
      <%= render '/sessions/form'%>
      <%= link_to "Register", new_user_path %>
    <% else %>
      <%= current_user.full_name %>
      <%= link_to "View Profile", user_path(current_user.id) %>
      <%= button_to "Logout", logout_path, method: 'delete' %>
      <%= link_to "Create a New iPhone Listing", newiphone_path %>
      <%= link_to "Create a New MacBook Listing", newmacbook_path %>
    <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
